<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        main, header {
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
        }
        .google-btn {
            color: #fff;
            text-decoration: none;
            font-size: 18px;
           background: #ff5353;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/logout">Logout/a></li>
            <li><a href="/auth/google">Login/a></li>
            <li><a href="#">Homepage</a></li>
        </ul>
    </nav>
    <header>
        <h1>Login Using</h1>
    </header>
    <main>
        <a class="google-btn" href="/auth/google">Google</a>
    </main>
</body>
</html>